<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="block.guess">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".base.BaseApp"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".login.LaunchActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".login.GuideActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".login.CreateAccountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".login.ForgetPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".betting.BCH3DSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".betting.LottoSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".betting.LottoBettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".betting.BCH3DBettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".betting.LuckyBettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".betting.PaySuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".betting.BettingDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".betting.LotteryDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".betting.GiftSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".betting.GiveFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.BCHSendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.BCHReceiveActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".wallet.QRCodeScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.TransactionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.webview.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.BettingRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.PartnerPlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.WinningRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.BettingRecordDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.AboutMeActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="block.guess.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>